/* Reset default margin and padding */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color */
body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

/* Style project section */
#projects {
    padding: 20px;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

/* Style skills section */
#skills {
    background-color: #f9f9f9;
    padding: 20px;
}

/* Style contact section */
#contact {
    padding: 20px;
}

/* Style footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
